body {
    background: #fafafa;
}

.wrap {
    width: 400px;
    margin: 50px auto;
}

.sampleComponent .userInfo {
    margin-bottom: 16px;
}

.sampleComponent button {
    padding: 8px 16px;
    margin-right: 4px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background: #fefefe;
    outline: none;
}

.sampleComponent button:active {
    background: #dedede;
}
